@use "../../index.scss";

.panel {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: var(--panel-bg-color);
  box-shadow: var(--panel-box-shadow);
  backdrop-filter: blur(10px);

  @media screen and (max-width: 900px) {
    width: 50%;
  }

  @include index.respond(md) {
    width: 100%;
    padding: 50px;
  }

  @include index.respond(sm) {
    padding: 50px 25px;
  }

  .panel__container {
    height: 80%;
    flex: 1;
  }
}
