// CSS VARIABLES
:root {
  // FONT SIZES
  --default-font-size: 16px;

  // COLORS
  --color-white: #fff;
  --overall-bg-color: #111;
  --main-text-color: #ccc;
  --color-orange: #fa6d1b;

  // BORDERS
  --border-bottom: 1px solid #ccc;
}

// MEDIA QUERY BREAKPOINTS
// 'sm': '640px', => @media (max-width: 640px)

// 'md': '768px', => @media (max-width: 768px)

// 'lg': '1024px', => @media (max-width: 1024px)

// 'xl': '1280px', => @media (max-width: 1280px)

// 'xl2': '1280px to Infinity', => @media (min-width: 1280px)

// MEDIA QUERY BREAKPOINT PARAMETERS
// $sm
// $md
// $lg
// $xl
// $xl2

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if ($breakpoint == xl2) {
    @media screen and (min-width: 1280px) {
      @content;
    }
  }

  @if ($breakpoint == xl) {
    @media screen and (max-width: 1280px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media screen and (max-width: 768px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media screen and (max-width: 640px) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  color: var(--color-white);
  line-height: 1.2;
  background-color: var(--overall-bg-color);
}
